footer { 
    background-color: #050505;
    color: #fff;
    left: 0;
    height: 300px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  li {
    font-weight: 500;
    color: #fcfcfc;
    text-decoration: inherit;
  }
  li:hover {
    color: #babfc5;
    background-image:#ebebec ;

  }

  .seccionf {
    font-size:20px;
    color: rgb(215, 219, 219);
    margin: 30px;
  }
